{% set ajax = TRUE %}
{% extends '@content/page.twig' %}

{# this brings in some useful macros for making bootstrap modals #}
{% import '@util/modalmacro.twig' as m %}

{% block css %}
{# <link> for any other CSS files you need #}
{% endblock css %}

{% block scripts %}
	<script src="{{assets}}/js/functions.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock scripts %}


{% block setup %}
var ctx = document.getElementById('cdistr').getContext('2d');
var myChart = new Chart(ctx, {
	type: 'pie',
	data: {
		labels: [
			{% for course in siteinfo.courses %}
				'{{course.name}}'{% if not loop.last %},{% endif %}
			{% endfor %}
		],
        datasets: [{
            data: [
				{% for course in siteinfo.courses %}
					'{{siteinfo.getCount('module', ' course_id = ?', [course.id])}}'{% if not loop.last %},{% endif %}
				{% endfor %}
			],
            backgroundColor: [
				{% for course in siteinfo.courses %}
                	'rgba({{random(0, 255)}}, {{random(0, 255)}}, {{random(0, 255)}}, 0.7)'{% if not loop.last %},{% endif %}
				{% endfor %}
            ],
            borderColor: [
				{% for course in siteinfo.courses %}
                	'rgba(0, 0, 0, 0.2)'{% if not loop.last %},{% endif %}
				{% endfor %}
            ],
            borderWidth: 1
        }]
	}
});
var ctx = document.getElementById('mdistr').getContext('2d');
var myChart = new Chart(ctx, {
	type: 'pie',
	data: {
		labels: [
			{% for module in siteinfo.modules %}
				'{{module.code}}'{% if not loop.last %},{% endif %}
			{% endfor %}
		],
        datasets: [{
            data: [
				{% for module in siteinfo.modules %}
					'{{siteinfo.uploadsPerModule(module.id)|length}}'{% if not loop.last %},{% endif %}
				{% endfor %}
			],
            backgroundColor: [
				{% for module in siteinfo.modules %}
                	'rgba({{random(0, 255)}}, {{random(0, 255)}}, {{random(0, 255)}}, 0.7)'{% if not loop.last %},{% endif %}
				{% endfor %}
            ],
            borderColor: [
				{% for module in siteinfo.modules %}
                	'rgba(0, 0, 0, 0.2)'{% if not loop.last %},{% endif %}
				{% endfor %}
            ],
            borderWidth: 1
        }]
	}
});
{% endblock setup %}

{% block onload %}
{% endblock onload %}

{% block header %}
	<section class="cntr col-md-12 mt-5">
		{% if context.hasadmin %}
			<h1>Admin dashboard</h1>
		{% else %}
			<h3>Access denied</h3>
		{% endif %}
	</section>
{% endblock header %}

{% block main %}
	{# Admin Dashboard #}
	{% if context.hasadmin %}
		<section>
			<div class="container border rounded mt-3 mb-5 pb-3">
				<div class="mt-3">
					<h3 class="cntr">Distribution of modules per course</h3>
					<canvas id="cdistr" width="200" height="100"></canvas>
				</div>
				<hr/>
				<div class="mt-3">
					<h3 class="cntr">Distribution of uploads per module</h3>
					<canvas id="mdistr" width="200" height="100"></canvas>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock main %}
