{% extends '@content/page.twig' %}

{# this brings in some useful macros for making forms
{% import '@util/formmacro.twig' as f %}
#}

{# this brings in some useful macros for making bootstrap modals
{% import '@util/modalmacro.twig' as f %}
#}

{# put a string in this block that will appear as the title of the page
{% block title %}
{% endblock title %}
#}{% block links %}
	{# <link> for non-css and non-type things#}
{% endblock links %}

{% block type %}
	{# <link> for webfonts #}
{% endblock type %}

{% block css %}
	{# <link> for any other CSS files you need #}
{% endblock css %}

{% block scripts %}
	<script src="{{assets}}/js/functions.js"></script>
{% endblock scripts %}

{% block setup %}
    $(function(){
        $("input[type='submit']").click(function(){
            var $fileUpload = $("input[type='file']");
            if (parseInt($fileUpload.get(0).files.length)>5){
                alert("You can only upload a maximum of 5 files");
            }
        });    
    });
{% endblock setup %}

{% block onload %}
	{# Any javascript you need that MUST run on load goes in this block. NB you don't need <script></script> tags  here #}
{% endblock onload %}

{# If you include this, then the navigation bar in @util/page.twig will **NOT** appear
{% block navigation %}
{% endblock navigation %}
#}

{#
    Edit the file navbar.twig to change the appearance of the
    navigation bar. It is included by default from @util/page.twig
#}

{# uncomment this and delete header block to remove the <header> tag altogether
{% block pageheader %}
{% endblock pageheader %}
#}

{#
    If you have a standard header for all (most) pages then put the
    content in the file header.twig. It is included by @util/page.twig by
    default. You then don't need to have a header block either.
#}

{% block header %}
	<section class="col-md-12 mt-5">
		<h1 class="cntr">Upload your notes</h1>
	</section>
{% endblock header %}

{% block main %}
	<section class="justify-content-center">
		{% include '@util/message.twig' %}
		<form action="#" method="post" role="form" enctype="multipart/form-data" class="justify-content-center" onsubmit="return validateUpl()">
			<div class="form-group">
				<label for="module-selection">Module</label>
				<select class="form-control" id="module-selection" name="module">
					<option class="text-muted" value="default">Please select your module</option>
					{% for module in siteinfo.modules %}
						<option value="{{module.getID}}">{{module.code}}: {{module.name}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="note-title">Title</label>
				<input type="text" class="form-control" id="note-title" placeholder="Give a title to your notes" name="title" required="required"/>
			</div>
			<div class="form-group">
				<label for="note-description">Description (optional)</label>
				<input type="text" class="form-control" rows="2" id="note-description" placeholder="Add a description to your notes" row="3" name="descr"/>
			</div>
			<div class="form-group">
				<label for="f0" class="control-label">File (png, jpg)</label>
				<input type="file" id="f0" name="uploads[]" class="form-control-file" required="required" multiple/>
			</div>
			<button class="btn btn-primary" type="submit" value="submit">Submit</button>
		</form>
		{% if url != '-1' %}
			<a href="{{url}}" class="btn btn-warning mt-3">View upload</a>
		{% endif %}
	</section>
{% endblock main %}

{% block pagefooter %}{% endblock pagefooter %}

{# uncomment this  and delete footer block to remove the <footer> tag altogether
{% block pagefooter %}
{% endblock pagefooter %}
#}

{#
    If you have a standard footer for all (most) pages then put the
    content in the file footer.twig. It is included by @util/page.twig by
    default. You then don't need to have a footer block either.
#}

{% block footer %}{% endblock footer %}
